# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

app/assets/cache/
system_configuration.php

.project

deploy.sh.DO-NOT-STORE-IN-GITHUB

*.otf

design/2013-04-13/html/images/rugit.png

design/2013-04-13/html/images/RLUK.png

design/2013-04-13/html/images/sconul.png

design/2013-04-13/html/images/ucisa.png
