# vim editor swap files
*.swp

# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

app/assets/cache/

# config will be different for everybody
system_configuration.php
app/system/core/conf.php

.project

deploy.sh.DO-NOT-STORE-IN-GITHUB

design/2013-04-13/html/images/rugit.png

design/2013-04-13/html/images/RLUK.png

design/2013-04-13/html/images/sconul.png

design/2013-04-13/html/images/ucisa.png

presentation/images/logos/sconul.png
#presentation/images/logos/JISC_orange.png
presentation/images/logos/rugit.png
presentation/images/logos/JISC_white.png
presentation/images/logos/ucisa.png
presentation/images/logos/RLUK.png

app/system/core/conf.php

design/2013-04-28/fonts/
design/2013-05-01/fonts/

