<div id='content'>
	<h1>About Co-design</h1>
	
	<p>
	Jisc, RLUK, RUGIT, SCONUL and UCISA are collaborating on a pilot of a new approach to innovation. This pilot is called the co-design programme and will run for the whole of 2013. If this pilot is a success the co-design programme will be widened to include more organisations.
	</p>

    <h2>Why</h2>
	<p>
	Co-design is not a new concept to Jisc, much of our work is carried out through co-working with a range of individuals, colleges and universities. What’s new for this programme though, is that the co-design approach runs throughout the whole thing – from initial generation of ideas, through idea selection, and into the development of products, services and other outputs. Together we will be closely scrutinising all projects and we’ll be able to make decisions to change their focus, speed them up or stop them completely. This will mean we’ll have outputs that are more refined and tested, and most importantly that better meet the requirements of the people who will use them – the users and consumers in universities and colleges.
	</p>

    <h2>Who</h2>
	<p>
	The co-design programme is overseen by the Futures Forum. This forum is made up of 2 members from each of the groups involved:
	</p>

        <h3>Jisc</h3>
        <ol class="numbered-list about-list">
            <li>Martyn Harrow, Chief Executive</li>
            <li>Sarah Porter, Head of Innovation</li>
        </ol>

        <h3>RLUK</h3>
        <ol class="numbered-list">
            <li>Wayne Connolly, University Librarian (Newcastle University)</li>
            <li>David Prosser, Executive Director (RLUK)</li>
        </ol>

        <h3>RUGIT</h3>
        <ol class="numbered-list about-list">
            <li>Christine Sexton, Director of Corporate Information and Computing Services (University of Sheffield)</li>
            <li>John Shemilt, Director of ICT (Imperial University)</li>
        </ol>

        <h3>SCONUL</h3>
        <ol class="numbered-list about-list">
            <li>Ann Rossiter, Executive Director of Sconul /Sara Marsh, Director of Learner Support Services (Bradford University) and Chair of Sconul</li>
            <li>Mark Toole, Director of Information Services (University of Stirling)</li>
        </ol>

        <h3>UCISA</h3>
        <ol class="numbered-list about-list">
            <li>Adrian Ellison, Director of IT (University of West London)</li>
            <li>Luke Taylor, Assistant Director of IT (University of Bristol)</li>
            <li>The Futures Forum is supported by: Paul Bailey, Sarah Dunne, Andy McGregor, Verena Weigert</li>
        </ol>

    <h2>What</h2>
    <p>The co-design programme has 2 aims:</p>
    <ol class="numbered-list about-list">
        <li>Explore a new approach to innovation which could be used with a wider group of people if successful</li>
        <li>Define and fund innovation projects that will produce practical solutions to current sector concerns.</li>
    </ol>

    <h2>When</h2>
    <p>The co-design pilot and all the projects funded will complete by December 2013. The futures forum will evaluate the pilot and produce a report. This report will inform how we handle any future co-design programmes.</p>
</div>
