<div class='tile-wrapper'>
    <div class='tile'>
    	<input type="hidden" name="id" value="{id}" />
		<input type="hidden" name="type" value="{type}" />
        <!--div class='label listed-project'>LISTED PROJECT</div-->
        <img src='{category-image}' alt="{category-name}" title="{category-name}" />
        <!--div class='clear'></div-->
        <div class='title'><a href="{url}">{title}</a></div>
        <div class='description'>{overview}</div>
    </div>
    <div class='actions'>
        <a href='messages' class='action'>Comments (<span>{chats}</span>)</a>
        <!--<a href='messages' class='action'>INTEREST (<span>{points}</span>)</a>-->
        <a href='messages' class='action'>Projects (<span>{assoc}</span>)</a>
    </div>
</div>