<div id="content" class="idea-lab">
<div class="columns">
<div class="column column-thin">
<div class="context">
<h1>Futures Forum</h1>
<p>A test. Ovid ut vollessum volorum hiliquiam, occae aligent asimolu ptaqui vit rehenda volorepro doluptatet eumquisquo ma cum rerorat etuscid empost ut que ne pel id mod ut incto tempossum veriorianda dolentiam cone id et ius molor accus nonsero vitiae cus eariori bearum apelessunt qui officit la intibus dollesequos as nonse eos qui occae re nonse dolessi ncturia dollestium cum, ommolor ionseque nonsequi odias mo blaboreperro blamus et vendunt id mod qui di doluptis es vero tempora dolendunt pra delleni hitiunto dolor aditiis volorrorpor sitio.</p>
</div>
</div>
<div class="column column-main">
<div class="text-heading">
<h1>heading Another Test</h1>
</div>
<div class="text-paragraph">Ovid ut vollessum volorum hiliquiam, occae aligent asimolu ptaqui vit rehenda volorepro doluptatet eumquisquo ma cum rerorat etuscid empost ut que ne pel id mod ut incto tempossum veriorianda dolentiam cone id et ius molor accus nonsero vitiae cus eariori bearum apelessunt qui officit la intibus dollesequos as nonse eos qui occae re nonse dolessi ncturia dollestium cum, ommolor ionseque nonsequi odias mo blaboreperro blamus et vendunt id mod qui di doluptis es vero tempora dolendunt pra delleni hitiunto dolor <a href="home.html">aditiis volorrorpor sitio.</a></div>
<div class="text-paragraph">
<ul>
<li>&raquo; <a href="https://docs.google.com/document/d/1gbm-A8BOynvOUuBBqfRlOp6spi6fXASzMSq1OGDHZZw/edit?usp=sharing" target="_blank">link to a google document</a></li>
<li>&raquo; Earum apelessunt qui officit la intibus</li>
<li>&raquo; Dolendunt pra delleni hitiunto dolor aditiis volorrorpor</li>
</ul>
</div>
<div class="text-heading">
<h1>heading</h1>
</div>
<div class="text-paragraph">Ovid ut vollessum volorum hiliquiam, occae aligent asimolu ptaqui vit rehenda volorepro doluptatet eumquisquo ma cum rerorat etuscid empost ut que ne pel id mod ut incto tempossum veriorianda dolentiam cone id et ius molor accus nonsero vitiae cus eariori bearum apelessunt qui officit la intibus dollesequos as nonse eos qui occae re nonse dolessi ncturia dollestium cum, ommolor ionseque nonsequi odias mo blaboreperro blamus et vendunt id mod qui di doluptis es vero tempora dolendunt pra delleni hitiunto dolor <a href="home.html">aditiis volorrorpor sitio.</a></div>
<div class="text-heading">
<h1>Another Heading</h1>
</div>
<div class="listed">
<h2>Ovid ut vollessum volorum</h2>
<ul>
<li>occae aligent XXXXX</li>
<li>dollesequos as XXXXX</li>
<li>nonse eos qui XXXXX</li>
</ul>
</div>
</div>
</div>
</div>