<div class="container" style="margin-top: 40px; margin-bottom:20px;">
    <form method="POST" action="/futures_forum/save">
        <fieldset>
            <div class="clearfix">
            	{editor-error}
            	{editor-msg}
            </div>
            <div class="clearfix">
                <div class="input">
                    <textarea class="tinymce" name="content" id="content" style="width: 1024px; height: 450px; padding:5px 5px 5px 5px;">{content}</textarea>
                </div>
            </div>
            <div class="form-actions" style="text-align:right;">
                <input type="submit" class="btn btn-primary" value="save" />
                <a href="/futures_forum/" class="btn">close</a>
            </div>
        </fieldset>
    </form>
</div>


 <script type="text/javascript">
    $(document).ready(function(){
        // Fade out alert messages
        $('.alert').delay(4000).fadeOut();

        // Tiny MCE Editor
        tinyMCE.init({
            selector: "textarea",
            theme : "modern",
            plugins: [
	         "advlist autolink link image lists charmap print preview hr anchor pagebreak",
	         "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
	         "save table contextmenu directionality emoticons paste textcolor"
   			],

            // Styles applied within editor
            content_css : "/presentation/styles/common.css,/presentation/styles/futures_forum.css,"
        });
    });
</script>