<div id='content'>
	<div class="codesign-info">
	    <h1>Welcome to Co-design</h1>
	    <h2>Jisc, RLUK, RUGIT, SCONUL and UCISA are collaborating on a pilot of a new approach to innovation. This site tracks the pilot and the ideas explored in it.</h2>
	</div>
	<div class="columns homepage-content">
	    <div class="column">
	        <div class="icon-box"><img src="/presentation/images/light.png" /></div>
            <h1><a href="/ideas"><span class="thin">1.</span> ideas</a></h1></br>
	        <h3>Capturing ideas</h3>
	        <h2>The co-designers produced a collection of ideas to be considered for funding in the co-design pilot. The ideas were influenced by previous work and were aimed at addressing current sector concerns. These ideas will be revisited in the future.</h2>
	        <h3><a href="/ideas" class="more-info">More Information &#187;</a></h3>
	    </div>
	
	    <div class="column">
	        <div id="icon-box"><img src="/presentation/images/short.png" /></div>
	        <h1><a href="/shortlist"><span class="thin">2.</span> shortlist</a></h1></br>
	        <h3>Taking ideas forward</h3>
	        <h2>A short-list of ideas was selected for further development and discussion. These ideas were chosen because they appeared to offer the most promise to address concerns within the timescales of the pilot. These ideas will be monitored and where possible developed further.</h2>
            <h3><a href="/shortlist" class="more-info">More Information &#187;</a></h3>
	    </div>
	
	    <div class="column">
	        <div id="icon-box"><img src="/presentation/images/project.png" /></div>
            <h1><a href="/projects"><span class="thin">3.</span> projects</a></h1></br>
	        <h3>Building idea-inspired projects</h3>
	        <h2>The co-designers identified five projects that should be funded. The projects run until December 2013. These projects were selected because they were feasible and offered the potential for sustainable solutions to challenges faced by the sector. The progress against these projects will be tracked through this site.</h2>
            <h3><a href="/projects" class="more-info">More Information &#187;</a></h3>
	    </div>
	</div>
</div>
