<div id='content'>
    <div class="codesign-info">
        <h1>Welcome to Co-design</h1>
        <h2>Tur mintessus nonet officiet am, sequasi odi quid molendebis alitius dolupic totaecus deseque eos explique res eat autame nus nimoluptat </h2>
        <div class='horizontal-bar'></div>
    </div>
    <div class="columns">

        <div class="column">
            <div class="icon-box"><img src="/presentation/images/redesign/light.png" /></div>
            <h1><span class="thin">1.</span> ideas</h1></br>
            <h3>Capturing ideas</h3>
            <h2>Tur mintessus nonet officiet am, sequasi odi quid molendebis alitius dolupic totaecus deseque eos explique res eat autame nus nimoluptat exerum ilitaturem a cullescipsa nonsequi ut essum que verfers pelles nulparum excerum il mil inis aliqui am fuga. Et officipsunti dolorro eos ulparum sitatium qui accabore, qui vero voluptaturvernatius es quibus.</h2>
            <h3><span class="more-info">More Information &#187;</span></h3>
        </div>

        <div class="column">
            <div id="icon-box"><img src="/presentation/images/redesign/short.png" /></div>
            <h1><span class="thin">2.</span> short list</h1></br>
            <h3>Taking ideas forward</h3>
            <h2>Tur mintessus nonet officiet am, sequasi odi quid molendebis alitius dolupic totaecus deseque eos explique res eat autame nus nimoluptat exerum ilitaturem a cullescipsa nonsequi ut essum que verfers pelles nulparum excerum il mil inis aliqui am fuga. Et officipsunti dolorro eos ulparum sitatium qui accabore, qui vero voluptaturvernatius es quibus.</h2>
            <h3><span class="more-info">More Information &#187;</span></h3>
        </div>

        <div class="column">
            <div id="icon-box"><img src="/presentation/images/redesign/project.png" /></div>
            <h1><span class="thin">3.</span> projects</h1></br>
            <h3>Building idea-inspired projects</h3>
            <h2>Tur mintessus nonet officiet am, sequasi odi quid molendebis alitius dolupic totaecus deseque eos explique res eat autame nus nimoluptat exerum ilitaturem a cullescipsa nonsequi ut essum que verfers pelles nulparum excerum il mil inis aliqui am fuga. Et officipsunti dolorro eos ulparum sitatium qui accabore, qui vero voluptaturvernatius es quibus.</h2>
            <h3> <span class="more-info">More Information &#187;</span></h3>
        </div>
    </div>
</div>
