<div id='content' class='idea-lab'>
	<div class="columns">
    	<div class="column column-thin">
        	<div class="context">
        		<h1>Ideas</h1>
		        <p>
		    	    Ovid ut vollessum volorum hiliquiam, occae aligent asimolu ptaqui vit rehenda volorepro doluptatet eumquisquo ma cum rerorat etuscid empost ut que ne pel id mod ut incto tempossum veriorianda dolentiam cone id et ius molor accus nonsero vitiae cus eariori bearum apelessunt qui officit la intibus dollesequos as nonse eos qui occae re nonse dolessi ncturia dollestium cum, ommolor ionseque nonsequi odias mo blaboreperro blamus et vendunt id mod qui di doluptis es vero tempora dolendunt pra delleni hitiunto dolor aditiis volorrorpor sitio.
		        </p>
	        </div>
	        
	        <div class='context-help'>
        		<h2>Subtitled Section</h2>
		        <p>
			        The documents below may help you turn your idea into an Open Source project. If you would like to discuss ideas or are interested in this market place do <a href='googlegroup'>contact us via our Google Group</a>
		        </p>
	        </div>
	        <div class='context-links'>
		        <a href='#somepage'>Some link 1 »</a>
		        <a href='#somepage'>HELP »</a>
		        <a href='#somepage'>FAQ »</a>
		        <a href='#somepage'>MORE INFO »</a>
	        </div>
        </div>
        
        
        <div class="column column-main">
	        <div class='search-bar'>
		        <h2>SEARCH IDEAS</h2>
		        <form accept-charset="UTF-8" action="/search_projects" method="post" class='search-form'>
					<ol>
					<li>
					<label class=" label" for="project_name">Name contains</label>
			        <input name="project[name]" type="text"/>
			        </li>
					<li>
					<label class=" label" for="category">Category</label>
			        <select class="category" name="project[category]"><option value=""></option>
			        <option selected value="any">Any</option>
			        <option value="1">Category 1</option>
			        <option value="2">Category 2</option>
			        <option value="3">Category 3</option>
			        <option value="4">Category 4</option></select>
			        </li>
			        </ol>
		        </form>
        	</div>
        	        	
	        <div class='tiles'>
	        	
	        	{recentIdeas}
	        	
	        	<!--
	        	
		        <div class='tile-wrapper'>
			        <div class='tile'>
				        <div class='label listed-project'>LISTED PROJECT</div>
				        <img src='images/project.png' />
				        <div class='clear'></div>
				        <div class='title'>PROJECT TITLE LINE ONE</div>
				        <div class='description'>Picte nullorro officid ipsam, il iuntotatur, omnihicium alisqui commolu ptibea consequi dendicipsus, quis d</div>
			        </div>
			        <div class='actions'>
				        <a href='messages' class='action'>MESSAGES (<span>2</span>)</a>
				        <a href='messages' class='action'>INTEREST (<span>4</span>)</a>
				        <a href='messages' class='action'>ASSOCIATED (<span>0</span>)</a>
			        </div>
		        </div>
		        
		        <div class='tile-wrapper'>
		        <div class='tile'>
		        <img src='images/project.png' />
		        <div class='clear'></div>
		        <div class='title'>PROJECT TITLE LINE TWO</div>
		        <div class='description'>Picte nullorro officid ipsam, il iuntotatur, omnihicium alisqui commolu ptibea consequi dendicipsus, quis d</div>
		        </div>
		        <div class='actions'>
		        <a href='messages' class='action'>MESSAGES (<span>2</span>)</a>
		        <a href='messages' class='action'>INTEREST (<span>4</span>)</a>
		        <a href='messages' class='action'>ASSOCIATED (<span>0</span>)</a>
		        </div>
		        </div>
		        
		        <div class='tile-wrapper'>
		        <div class='tile'>
		        <div class='label listed-project'>LISTED PROJECT</div>
		        <img src='images/project.png' />
		        <div class='clear'></div>
		        <div class='title'>PROJECT TITLE THIS IS LINE ONE THIS IS LINE TWO</div>
		        <div class='description'>Picte nullorro officid ipsam, il iuntotatur, omnihicium alisqui commolu ptibea consequi dendicipsus, quis d</div>
		        </div>
		        <div class='actions'>
		        <div class='action'>MESSAGES (<span>2</span>)</div>
		        <div class='action'>INTEREST (<span>4</span>)</div>
		        <div class='action'>ASSOCIATED (<span>0</span>)</div>
		        </div>
		        </div>
		        
		        <div class='tile-wrapper'>
		        <div class='tile'>
		        <img src='images/project.png' />
		        <div class='clear'></div>
		        <div class='title'>PROJECT TITLE LINE TWO</div>
		        <div class='description'>Picte nullorro officid ipsam, il iuntotatur, omnihicium alisqui commolu ptibea consequi dendicipsus, quis d</div>
		        </div>
		        <div class='actions'>
		        <a href='messages' class='action'>MESSAGES (<span>2</span>)</a>
		        <a href='messages' class='action'>INTEREST (<span>4</span>)</a>
		        <a href='messages' class='action'>ASSOCIATED (<span>0</span>)</a>
		        </div>
		        </div>
		        -->
		 
		        <div class='clear'></div>       
        	</div>
        
        <a href='more' class='button more'>MORE IDEAS</a>
        <div class='clear'></div>
        
        
        </div>
	        
    </div>
</div>
