<div id="ideaLab">
		<div id="exposeHolder" style="clear:both">
		<h1>Projects</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dapibus tristique nunc vitae vulputate. Duis faucibus nulla ac diam fringilla et lacinia libero auctor. Sed in nisl enim, a sodales nisl. Quisque adipiscing pulvinar diam vitae elementum. Nullam at tortor et odio pellentesque facilisis at non quam. Nunc iaculis viverra eros eu porttitor. Quisque nisi nulla, pellentesque id pretium eu, ornare in felis.
		</p>
		<p>
			Nunc vitae ipsum orci. Aliquam vel ipsum in lectus malesuada molestie. Phasellus non leo eu mauris luctus volutpat. Nullam erat orci, elementum aliquam pharetra eget, aliquam at augue. Integer lorem justo, interdum eget lacinia ut, commodo nec magna. Proin in nibh nisl, sed sollicitudin nisi. Etiam hendrerit turpis quis ipsum vestibulum at sodales eros imperdiet. Sed ultrices mattis tellus id ultricies. Nulla tempor neque at neque dignissim vel ullamcorper purus ornare. Morbi ac pharetra magna. Nulla at mi dolor. Donec tempor dapibus orci ac semper.
		</p>
	</div>
	
	<div id="ideaHolder">
		{recentIdeas}
	</div>

	<div id="pagination">
		{pages}
	</div>
</div>
