<div id='content' class='idea-lab'>
	<div class="columns">
		
		<div class="column column-thin">
			<div class="context">
				<h1>Sitemap</h1>
				<p>
				    An easily navigable list of the main sections of this website.
				</p>
			</div>
		</div>

		<div class="column column-main">
            <div class="text-heading">
        	    <h1>Sitemap</h1>
            </div>
            <div class="text-paragraph">
                <ul>
        	    	<li><a href="/">Home</a></li> 
        	    	<li><a href="/ideas">Ideas</a> </li> 
        	    	<li><a href="/shortlist">Shortlist</a> </li> 
        	    	<li><a href="/projects">Projects</a> </li> 
        	    	<li><a href="/futures_forum">Futures Forum</a></li>  
        	    </ul>
            </div>
        </div>
    </div>
</div>
