<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Co-design {pagename} {dev}</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- styles - reset sheet first -->
        <link type="text/css" rel="stylesheet" href="/presentation/styles/reset.css"/>

        <!-- then library styles -->
		<link href='/presentation/lib/tipsy/stylesheets/tipsy.css' rel='stylesheet' type='text/css'/>
		<link href='/presentation/lib/bootstrap/css/bootstrap.css' rel='stylesheet' type='text/css'/>
		<link href='/presentation/lib/fancybox/source/jquery.fancybox.css' rel='stylesheet' type='text/css'/>

        <!-- then our styles -->
        <link type="text/css" rel="stylesheet" href="/presentation/styles/common.css"/>
        <link type="text/css" rel="stylesheet" href="/presentation/styles/{controller-style}.css"/>
        <!-- end of styles -->
        
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script> 
		<script type="text/javascript" src="/presentation/lib/tipsy/javascripts/jquery.tipsy.js"></script>		
		<script type="text/javascript" src="/presentation/lib/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="/presentation/lib/fancybox/source/jquery.fancybox.pack.js"></script> 
		<script type="text/javascript" src="/presentation/scripts/co-design.js"></script> 

		{additional-assets}
	</head>
	<body>
		<div id="container">   
		    <div id="header"> 
	    		<div class="jisc-logo"></div>
		        <ul class='toolbar'>
        			<li><a href='#news.html'>News</a></li>
            		<li><a href='#events.html'>Events</a></li>    
            		<li><a href='#funding.html'>Funding</a></li>
            		<li><input type="search" class="search-box"></input></li>
            		<li><a href='#/search' class="button">Search JISC &amp; JISC Services sites</a></li>
		        </ul>
        
		        <div id='banner'>
		        	<ul class='sponsor-logos'>
			            <li class='jisc'></li>
			            <li class='ucisa nologo'></li>
			            <li class='sconul nologo'></li>
			            <li class='rluk nologo'></li>
			            <li class='rugit nologo'></li>
		            </ul>
		            <div class='clear'></div>
		            <div class='main-logo'></div>
		        </div>
        		<div id='nav'>
			        <ul>
                        <li><a href='/' {current-page-home}>HOME</a><span class="menu-separator">/</span></li>
				        <li><a href='/ideas' {current-page-ideas}>IDEAS</a><span class="menu-separator">/</span></li>
				        <li><a href='/shortlist' {current-page-shortlist}>SHORTLIST</a><span class="menu-separator">/</span></li>
				        <li><a href='/projects' {current-page-projects}>PROJECTS</a><span class="menu-separator">/</span></li>
				        <li><a href='/futures_forum' {current-page-futures_forum}>FUTURES FORUM</a></li>
				        {userBox}
				        <div class='clear'></div>
		            </ul>
		        </div>
        	</div>

        	
    		{viewport}
        	
        	{edit}
        	
        	<div id='footer'>
	        	<ul>
		        	
		            <li><a href='/about'>About</a> |</li>
		            <li> <a href='/contact'>Contact</a> |</li>
		            <li> <a href='/sitemap'>Sitemap</a></li>
	            </ul>
	            <ul id="copyright">
	            	<li>&copy; 2013 JISC, SCONUL, RLUK, UCISA, RUGIT</li>
	            </ul>
            </div>            
    	</div>

	</body>
</html>
