h2 {
    font-size:1.5em;
    color: #FF6E19;
    line-height:170%;
}

h3 {
    font-family:Verdana, Geneva, sans-serif;
    font-size:1.2em;
    color: #002542;
    font-style:italic;
    line-height:170%;
}
